.card {
  width: 300px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  position: relative; /* Ajouté pour positionner l'icône */

}

.card img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
}
